<div class="footer-content">
     <div class="footer-links">
        <a href="#" class="footer-link" data-page="about">Tentang Kami</a>
        <a href="#" class="footer-link" data-page="faq">FAQ</a>
        <!-- <a href="#" class="footer-link">Kebijakan Privasi</a>
        <a href="#" class="footer-link">Syarat & Ketentuan</a>
        <a href="#" class="footer-link">Kontak</a> -->
    </div>
    <p class="footer-copyright">&copy; 2025 IRS OJK - Sistem Pelaporan Terpusat. Semua hak dilindungi.</p>
</div>